# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# intellij
.idea/
*.iml

### macOS ###
*.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
*.egg
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.pytest_cache/

# Maven
dependency-reduced-pom.xml
# Scala classes
target/
offline/
